#test against this version of node
environment:
  matrix:
  #node.js
  - nodejs_version: "6"

#install scripts after repo cloning
install : 
  #get the latest version of nose js
  - ps: Install-Product node $env:nodejs_version
  #install modules
  - npm install

#post install test scripts
test_scripts:
  #output useful info for debugging
  - node --version
  - npm --version
  #run tests
  - npm test

build: off